<div id="form" ng-controller="signInCtrl" class="">
	<div class="container">
		<div class="row">
			<div class="col s8 offset-s2">
				<br></br>
				<img ng-src="{{logo}}" class="responsive-img circle border be-white"></img>
			</div>			
		</div>
		<div class="row">
			<form class="col s12">
				<div class="row">
			    	<div class="col s12">		      	
				        <div class="input-field col s12">
				          <i class="material-icons prefix">account_circle</i>	
				          <input id="userName" type="text" class=""></input>
				          <label for="userName">User Name</label>
				        </div>
					 </div>					
				</div>
				<div class="row">
				    <div class="col s12">				    
				        <div class="input-field col s12">
				          <i class="material-icons prefix">vpn_key</i>		
				          <input id="password" type="password" class=""></input>
				          <label for="password">Password</label>
				        </div>
				    </div>					
				</div>
				<div class="row">
					<div class="col s6">				
						<a href="#/signUp" class="btn ">SignUp<i class="material-icons left">supervisor_account</i></a>
					</div>			
					<div class="col s6">				
						
						 <button class="btn  right" data-bind="click:login">Login
		    				<i class="material-icons right">send</i>
		  				</button>
		  				
		  				<!--
		  				<a href="#/me" class="btn  right">Login <i class="material-icons right">send</i> </a>
		  				-->
					</div>			
				</div>
			</form>
		</div>
	</div>
</div>